<div class="navbar navbar-fixed-bottom footer" style="background-color: black; color: white;">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-md-4 col-lg-3" style="padding-top: 1%;">
				<p>{{ app.name }} {{ app.version }}</p>
			</div>
			<div class="col-xs-6 col-md-4 col-lg-3" style="padding-top: 1%;">
				<p>Agung Dirgantara</p>
			</div>
			<div class="col-xs-6 col-md-4 col-lg-3" style="padding-top: 1%;">
				<p>agoenks29D</p>
			</div>
			<div class="col-xs-6 col-md-4 col-lg-3" style="padding-top: 1%;">
				<p>{{ app.vendor }}</p>
			</div>
		</div>
	</div>
</div>