{% extends 'base.twig' %}

{% block title %}About Service WebPush & Service Worker?{% endblock %}

{% block content %}
<div class="container">
	<div class="starter-template">
		<h1>About</h1>
		<p class="lead" style="text-align: left;">
			<ol>
				<li><a href="https://developer.mozilla.org/en-US/docs/Web/API/Service_Worker_API/Using_Service_Workers">Using Service Worker</a></li>
				<li><a href="https://developer.mozilla.org/en-US/docs/Web/API/ServiceWorkerGlobalScope">Service Worker Global Scope</a></li>
				<li><a href="https://developer.mozilla.org/en-US/docs/Web/API/notification">Notification API</a></li>
				<li><a href="https://developers.google.com/web/fundamentals/primers/service-workers">Web Fundamentals - Service Worker</a></li>
				<li><a href="https://developers.google.com/web/updates/2015/05/notifying-you-of-changes-to-notifications#serviceworkerregistrationgetnotifications">Web Fundamentals - Notification</a></li>
				<li><a href="https://firebase.google.com/docs/cloud-messaging/send-message">Firebase FCM Send Message</a></li>
			</ol>
		</p>
	</div>
</div>
{% endblock %}